*{
    margin: 0;
}
.container{
    /* border: 2px solid red; */
    height: auto;
    width: 85%;
    margin: auto;
}
.headlist{
    font-size: small;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    /* border: 5px solid rgb(226, 205, 43); */
    height:auto;
}
.headlist{
    /* border: 1px solid green; */
    float: right;
    margin-right: 10px;
}
.headlist>ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}
.headentry{
    /* border: 5px solid rgb(236, 75, 206); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.search{
    border: 2px solid rgb(255,127,0);
    border-radius:25px;
}
.search>select{
    height: 34px;
    width: 40px;
    border-radius:25px;
    border: 0;
}
#filter{
    margin-left: 10px;
    outline: none;
}
.searchitem{
    position: relative;
}
#lens{
    position: absolute;
    height:29px;
    width: 29px;
    right: 10px;
    top: -5px;
}

.searchitem>input{
    height: 29px;
    width: 350px;
    border-radius:25px;
    outline: none;
    border: 0;
}
.logo{
    cursor: pointer;
}
.logo>img{
    height: 80px;
    width: 150px;
    margin-left: 20px;
}
.userthings{
    display: flex;
    cursor: pointer;
    align-items: center;
}
.right{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
#ut1{
    margin-left: 20px;
}
#ut3{
    margin-right: 20px;
}
.navhead{
    /* border:4px solid rgb(31, 205, 63); */
    display: flex;
    width: 100%;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    height: auto;
}
.category{
    background-color: black;
    color: white;
    width: 20%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}
.navbar{
    background-color:rgb(255,127,0);
    width: 80%;
    padding-top: 7px;
    padding-bottom: 7px;
}
.navbar>nav{
    display: flex;
    gap: 150px;
}
.navbar>nav>a{
    text-decoration: none;
    color: black;
}
#nav1{
    margin-left: 100px;
}
.slider{
    /* border: 4px solid rgb(255, 0, 0); */
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    position: relative;
}
.leftslider{
    padding-top: 5px;
    width: 20%;
    font-size:14px;
    /* border: 4px solid rgb(138, 210, 30); */
    font-family: OpenSans,Arial,Helvetica,sans-serif;
    background-color: rgba(220, 220, 220, 0.502);
}
#catlist{
    list-style: none;
    padding-left:0px;
}
#catlist>li{
    cursor: pointer;
    padding-left:10px;
    line-height: 25px;
}
#catlist>li>a{
    text-decoration: none;
    color: black;
    display:block;
}
#catlist>li:hover{
    background-color: white;
    font-weight: 700;
}
.rightslider{
    /* border: 4px solid blue; */
    width: 80%;
    /* display: none; */
}
.rightslider>img{
    height: 100%;
    width: 100%;
}
.sliderbottom{
    width: 100%;
    display: flex;
    gap: 10px;
    /* margin-bottom: 30px; */
    justify-content: space-between;
}
.sliderbottom>div{
    cursor: pointer;
}
.sliderbottom>div>img{
    width:99%;
}
.sliderbottom>div:nth-child(5)>img{
    width: 100%;
}
.subcategories{
    left: 20%;
    width: 80%;
    height: 100%;
    display: grid;
    /* display: none; */
    font-size: 14px;
    position: absolute;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    font-family: OpenSans,Arial,Helvetica,sans-serif;
}
.subcategories>div{
    /* border: 2px solid palevioletred; */
    background-color: white;
}
.subcat4{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}
.subcat4>img{
    height: 100%;
    width: 100%;
}
.subcategories>div>ul{
    list-style: none;
    margin-top: 10px;
}
.subcategories>div>ul>li{
    line-height:170%;
    color: grey;
}
.subcategories>div>ul>.subhead{
    color: black;
    font-weight:700;
}
#collectiontext,#superdealtext,#recommendedtext{
    font-family: OpenSans,Arial,Helvetica,sans-serif;
    margin-bottom: 10px;
    margin-top: 40px;
}
.collection{
    /* border: 2px solid blue; */
    width: 100%;
    height: auto;
    display: grid;
    gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: repeat(6,1fr);
}
.collection>div{
    border: 1px solid rgb(207, 207, 207);
}
.collection>div>img{
    width:100%;
    height: 100%;
}
.recommended{
    /* border:2px solid red; */
    width: 100%;
    height: auto;
    display: grid;
    row-gap: 20px;
    grid-auto-rows: 350px;
    grid-template-columns: repeat(5,1fr);
}
.recommended>div{
    font-family: OpenSans,Arial,Helvetica,sans-serif;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    line-height: 25px;
}
#b1{
    margin-bottom: 20px;
}
.recommended>div>button{
    border: none;
    height: 40px;
    width: 100%;
}
#b1:hover{
    cursor: pointer;
    color: white;
    background-color:rgb(255,127,0); 
}
#b2:hover{
    cursor: pointer;
    color: white;
    background-color:rgb(35, 201, 29);
}
.recommended>div:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.recommended>div>img{
    width: 100%;
    height: 50%;
}
.footer{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    padding-top: 50px;
    margin-top: 60px;
}
.features{
    /* border: 1px solid red; */
    background-color: white;
    width: 85%;
    height: auto;
    margin:auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns:repeat(5,20%);
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
}
.features>div{
    /* border: 1px solid green; */
    text-align: center;
    padding: 15px 0 15px 0;
}
#wondermallfooter{
    width: 85%;
}
.features>div>p{
    font-size: 12px;
    color: gray;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left:10px;
    padding-right: 10px;
}
.features>div>b{
    font-size: 14px;
    font-family: OpenSans,Arial,Helvetica,sans-serif;
}
.mailsocial{
    width: 85%;
    margin: auto;
    /* border: 2px solid red; */
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2,50%);
}
#maildiv{
    display:inline-flex;
    align-items: center;
}
#maildiv>span{
    margin-right: 10px;
    font-family: OpenSans,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: rgb(97, 97, 97);
}
.mailsocial>div{
    /* border: 2px solid green; */
}
#mail{
    height: 35px;
    width: 55%;
    border: 1px solid rgb(70, 69, 69);
    border-right: none;
}
#subscribe{
    /* display: inline-block; */
    height: 39px;
    color: white;
    outline: none;
    font-size: medium;
    background-color: black;
}
.footer>footer{
    color: rgb(223, 223, 223);
    text-align: center;
    background-color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info{
    width: 85%;
    margin: auto;
    display: grid;
    margin-bottom: 50px;
    grid-template-rows: auto;
    grid-template-columns: repeat(4,25%);
    /* border: 2px solid yellowgreen; */
}
.info>div{
    /* border: 2px solid blue; */
}

.info>div>ul{
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}
.info>div>ul>li>a{
    font-size: 12px;
    line-height: 23px;
    color: rgb(71, 71, 71);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info>div>ul>li>a:hover{
    text-decoration: underline;
}
.info>div>b{
    font-size: 14px;
    font-family: OpenSans,Arial,Helvetica,sans-serif;
}
.qrcode{
    margin-top: 15px;
    display: flex;
}
.payments{
    width: 85%;
    margin:auto;
    /* border: 2px solid red; */
    margin-bottom: 50px;
}
.pay1{
    display: flex;
    height: 27px;
    justify-content: space-between;
    margin-bottom: 15px;
}
.pay2{
    display: flex;
    height: 27px;
    justify-content: center;
    gap: 20px;
}



















